

ul li ul li {
    width: 73.5%;
  }

p {
	max-width: 45em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	line-checkout-height: 1.6em;
}

figure img {
	margin-left:-2.5em;
}

#bullets li{
	margin-bottom:0.5em;
}

ol li {
	margin-bottom: 0.5em;
}

.anatomy ol li {
	margin-left:-5em;
}

#typography,#bulllets,#form, #numbered, #colors, #buttons, #logo, #illustrations, #in-text {
	margin-bottom: 7em;
}

#nav, #product, #grid, #checkout, #footer, #recipe-detail, #all-recipes, #breadcrumbs, #recommended, #cart{
	margin-bottom: 6em;
}

#crazy, #wireframes, #sitemap, #highf {
	margin-bottom: 6em ;
}

/* container for all items */
.main-container, .nav-container {
	display: flex;
	justify-content:center;
}

/* UI Pattern elements css */

.grid-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.primary-container {
	display: flex;
}

.primary-item1 {
	flex:1;
	flex-direction:column;
	margin-right: 2em;
}

.primary-item2 {
	flex:2;
	flex-direction:column;
	margin-right: 2em;
}

.primary-item3 {
	flex:3;
	flex-direction:column;
}

#nav li {
	list-style-type: none;
	display: inline-block;
	margin: 12px 0 12px 0;
	margin-left: 1em;
}


#colors img {
	display:block;
	height: 6.5em;

}

#logo img {
	margin-right: 2em;
}

.form p {
	margin-top:-1em;
}


.flavour-container .disabled-button {
	display:block;
}

img {
	margin-bottom:-0.4em ;
}

#colors img {
	margin-bottom: 1em;
	margin-top: 1em;
	border-radius: 50%;
}

.color-grid-container {
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	margin-bottom: 4em;
	max-width: 32em;
}

.access-grid-container {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	margin-bottom: 1em;
	margin-top: 1em;
	max-width: 25em;
}

.button-grid-container {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	margin-bottom:5em;
}

.color-item code {
	text-align: center;
}


#colors p {
	margin-bottom:-1em;

}

.main-item code {
	font-size:0.8em;
}

.code p{
	margin-bottom:-0.8em;
}

.bread-example {
	margin-top:3.5em;
	margin-bottom:3.5em;
}

/* product detail page */
.product-module {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.5em;
	margin-bottom: 2em;
}

.detail-container {
	margin-left: 3em;
	margin-top:-1.8em;
}

.detail-container {
	margin-left: 5em;
	margin-top: -2em;
}

.flavour-container{
	display: flex;
	flex-wrap: wrap;
}

#buttons h4 {
	margin-top: 2.5em;
}

.checkout-module {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.5em;
	margin-bottom: 2em;
}

.guest-checkout-container button {
	margin-top: 1.5em;
}

.purchased-summary-item {
	display: flex;
	margin-top: 1.5em;
	margin-bottom: -1.5em;
}

.details-purchased p {
	margin-top:-1em;
	font-size:0.9em;
}

.details-purchased h4 {
	font-size: 1em;
}

.subtotal-item {
	display: flex;
	margin-left:-2em;
}

.price-subtotal {
	margin-left: 8em;
	text-align: right;
}


hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

#citations {
	max-width: 50em;
}

#example {
	margin-top:2em;
	margin-bottom:2em;
}

#colors h4 {
	margin-top:4em;
}

.color-item {
	text-align: center;
}

.color-item code {
	margin-left:-4.8em;
}

/*recipe details module */

.instructions-container{
	display: flex;
	flex-wrap: wrap;
}

.recipe-container {
	display:flex;
	flex-wrap:wrap;
	background-color: #F6F0E9;
	margin-top:4em;
	margin-bottom:4em;
}

#recipe-detail li{
	margin-left:-1.5em;
	margin-bottom:1em;
}

.recipe-item li{
	font-size: 0.8em;
}

.recipe-item {
	margin-right: 2em;
	margin-left:3em;
	margin-top:2em;
	margin-bottom:2em;
}

.instructions-container {
	margin-top: 3em;
}

.instructions-image {
	margin-right: 2em;
}

/* all recipes module */

.recipe-preview-container{
    display: flex;
    flex-wrap: wrap;
}

.recipe-img {
	margin-right: 3em;
	margin-bottom: 4em;
}

.recipe-blurb {
	width: 30em;
}
.recipe-blurb li {
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

/*Shopping cart module*/
.cart-grid-container{
	display: grid;
	grid-template-columns: 0.2fr 0.85fr 1.2fr 0.5fr 0.5fr;
	grid-column-gap: 0.5rem;
	padding-bottom: 1rem;
}

.cart-subtotal{
	grid-column: 4/6;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0.5rem;
	padding-bottom: 1rem;
}

.product-cart-detail{
	grid-column: 3/6;
	display: grid;
	grid-template-columns: 1.2fr 0.5fr 0.5fr;
}

.cart-description{
	display: flex;
	align-items: center;
}

.cart-quantity{
	
}

/*Recommended for you module */

.recommended-grid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-left:2em;
}

#recommended {
	background-color: #F6F0E9;
	padding:2em;
}

#recommended h3 {
	margin-left:1.3em;
}

.recommended-item {
	margin-right:-2em;
	max-width: 90%;
}

.recommended-item img {
	border-radius: 4%;
}

.recommended-item p {
	margin-top:-1em;
}

#recommended h4 {
	font-size:0.95em;
}

#recommended p {
	font-size:0.8em;
}
/* website grid structure section */

.g-container {
	background-color: rgb(150, 150, 150);
	display:grid;
	grid-template-columns:repeat(8,1fr);
	grid-template-rows: 3rem 14em 9em 7em 7em 9em 6em;
}

#logo-gridsample {
	background:rgb(100,100,100);
	grid-column-start:1;
    grid-column-end:2;
}

#navbar {
	background-color: rgb(40,61,59);
	grid-column-start:2;
    grid-column-end:9;
}

#banner{
	background:rgb(225,225,225);
	grid-column-start:1;
    grid-column-end:9;
}

#main, #recipe {
	background-color: rgb(200, 200, 200);
	grid-column-start:1;
    grid-column-end:9;
}


.row-container{
	grid-column: 2 / 8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    padding:0.5em;
}

#grid h4 {
    margin-top:0.5em;
    margin-left: 1em;
}


@media (max-width: 55em) {

   .main-item {
       flex-basis: 100%;
       padding:1em;
       margin-right:0em;
   }

   #illustrations img {
       width:100%;
   }

   #buttons img {
       width:100%;
   }

   #buttonsize img {
       width: 60%;
   }

   #logo img{
       margin-bottom:1em;
   }

   #footer img{
       width: 100%;
   }

   .detail-container {
       margin-left:0em;
       margin-top:1em;
   }

   .flavour-container {
       flex-basis:100%;
   }

   .image-container img {
       width:100%;
   }

   .summary-checkout-container {
       margin-left: 0em;
       margin-top:3em;
   }

   .line-checkout {
       display:none;
   }

   #anatomy img {
       width:100%;
   }

   figure img{
       width:100%;
   }

   figcaption {
       width:100%;
   }

   figure {
       width:100%;
   }

   .color-item code {
       margin-right: -2.7em;
   }

   .logo-navsample {
       margin-right:0em;
       margin-left: -2em;
   }

   #nav li{
       font-size: 0.8em;
       margin-bottom: 1em;
   }

   .disabled-button {
       width: 10em;
   }

   .detail-container h3 {
       font-size: 1.5em;
   }

   .guest-checkout-container input {
       width: 21.5em;
       height: 2em;
       margin-top:0.5em;
   }

   .summary-checkout-container input {
       width: 15em;
       height: 2em;
   }

   #form input {
       width: 20em;
       height: 2em;
       margin-top:0.5em;
   }

   .subtotal-item li {
       font-size:1em;
   }

   .price-subtotal li{
       justify-content: right;
       margin-left:2.5em;
   }

   .image-purchased img{
       width:8.5em;
       margin-bottom:2em;

   }

   .details-purchased h4{
       font-size:1.1em;
       margin-bottom:0em;

   }

   #all-recipes img {
   	   margin-top: 2em;
   	   flex-basis: 100%;
   }

   .content {
       grid-column:1 / span 8;

   }

   .button-grid-container {
       display:grid;
       grid-template-columns:1fr 1fr;
       margin-bottom:5em;
   }

   .item2 {
       margin-left: -2.5em;
   }

   .recipe-item {
   	   margin-top:1em;
   }

   .instructions-image {
	   margin: 1em 0;
    }

   .details-purchased p {
   	   margin-top: 1em;
   }

   .recipe-blurb {
	   width: 100%;
   }

   #all-recipes img{
    	flex-basis:100%;
    }

    .recommended-grid {
		display:grid;
		grid-template-columns: 1fr 1fr;
    }

    #recommended {
		padding:0em;
    }

	.product-cart-detail{
		grid-column: 3/5;
		grid-column-start: 3;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.cart-quantity{
		grid-column-start: 1;
	}
	.cart-header{
		visibility: hidden;
	}
	.cart-subtotal{
		grid-column: 3/4;
	}

}

@media (max-width: 40em) {
	.cart-grid-container{
		grid-template-columns: 0.3fr 1fr;
	}
	.product-cart-detail{
		grid-column: 2/3;
		grid-column-start: 2;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.cart-subtotal{
		grid-column-start: 2;
	}

}
