@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
Thin: 100
Extra-light: 200
Light: 300
Regular: 400
Medium: 500
Semi-bold: 600
Bold: 700
Extra-bold: 800
Black: 900
*/

/* the following dropdown nav bar was inspired by 
https://css-tricks.com/solved-with-css-dropdown-menus/ */

body{
    font-family:'Poppins', Helvetica, Arial, sans-serif;
	color: #3A2B1B;
}

h1{
    /* font-size: 60px; */
    font-size: 3.5rem;
    font-weight: 700;
	margin: 0;
}

h2 {	
	/* font-size: 40px; */
	font-size: 2.2em;
	font-weight: 600;
	margin-bottom:1em;
}

h3{
    /* font-size: 26px */
    font-size: 1.5rem;
    font-weight: 500;
	margin-top: 1em;
}

h4{
    /* font-size: 18px */
    font-size: 1.125rem;
    font-weight: 600;
	margin-top: 1em;
}

h5 {
	font-size: 1em;
	color: white;
	background-color:rgb(91,122,120);
	text-align: center;
	padding: 0.5em;
}

a{
	color: #3A2B1B;
    font-weight:400;
}

a:hover, a:focus{
    font-weight:600;
    color:rgb(40,61,59);
}

img{
	max-width: 100%;
	height: auto;
}

#navigation a {
  text-decoration: none;
}

#navigation ul {
  list-style: none;
  padding-left: 0;
  padding-left: 0;
}

#navigation li {
  display: block;
  float: left;
  padding: 1.5rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
#navigation li a {
  color: black;
  padding: 1.5rem;
}

#navigation li:hover,
#navigation li:focus-within {
  background:rgba(84,115,112, 0.3);
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: white;
  color: white;
  visibility: hidden;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 2em;
  text-align: center;
  left:0;
  display: none;
  font-size: 0.8em;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   display: block;
}

#navigation ul li:hover {
  color:white;

}

ul li ul li {
  width: 73.5%;
}

.active {
	background-color:rgba(84,115,112, 0.3);
}

figcaption {
	margin-top: 1em;
	margin-left:-2.5em;
	font-style: italic;

}

figure img {
	margin-left:-2.5em;
}

#bullets li{
	margin-bottom:0.5em;
}

ol li {
	margin-bottom: 0.5em;
}

#buttons a {
	text-decoration:none;
}

.h3-type-style{
	margin-top: 0.5em;
}

#crazy, #wireframes, #sitemap, #highf {
	margin-bottom: 6em ;
}

/* container for all items */

.main-item {
	padding: 5em;
	padding-top: 0em;
}
/* UI Pattern elements css */

.grid-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#nav li {
	list-style-type: none;
	display: inline-block;
	margin: 12px 0 12px 0;
	margin-left: 1em;
}

#nav ul {
	background-color: rgb(40,61,59);
	color: white;
	max-width:45em;
	margin-top: 2.5em;
	margin-bottom: 2em;
}

.logo-navsample {
	margin-right: 16em;
}

#nav li a {
    color: white;
    text-decoration: none;
}

#nav li a:hover {
    color: grey;
    transition-duration: 0.5s;
}

#colors img {
	display:block;
	height: 6.5em;

}

#logo img {
	margin-right: 2em;
}

.form p {
	margin-top:-1em;
}

.flavour-container .disabled-button {
	display:block;
}

img {
	margin-bottom:-0.4em ;

}

#colors img {
	margin-bottom: 1em;
	margin-top: 1em;
	border-radius: 50%;
}

#breadcrumbs a {
	text-decoration:none;
	color:black;
	margin-right: 1em;
}

.color-grid-container {
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	margin-bottom: 4em;
	max-width: 32em;
}

.access-grid-container {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	margin-bottom: 1em;
	margin-top: 1em;
	max-width: 25em;
}

.button-grid-container {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	margin-bottom:5em;
}

.color-item code {
	text-align: center;
}


#colors p {
	margin-bottom:-1em;

}

.main-item code {
	font-size:0.8em;
}

.code p{
	margin-bottom:-1.5em;
}

.example {
	margin-top:3.5em;
	margin-bottom:3.5em;
}

/* product detail page */

.product-name{
	/* font-size: 32px */
	font-size: 2rem;
	margin-bottom: 0.25em;
}

.product-price{
	/* font-size: 30px */
	font-size: 1.875rem;
	font-weight: 400; 
}

.detail-container {
	margin-left: 5em;
	margin-top: -2em;
}


.right-flavour-item {
	margin-left: 1em;
}

.size-container li {
	list-style-type:none;
	display: inline;
	font-size: 0.9em;
}

.size-container {
	margin-left:-2.5em;
}

.flavour-container default-button {
	font-size:0.9em;
}

.detail-container h3 {
	margin-bottom:1em;
	margin-top:0em;
	font-size: 1.4em;
}

.detail-container h4 {
	margin-top:0.8em;
	margin-bottom:0.8em;
	font-size:1em;
}

/* all recipes module */
#all-recipes li{
	list-style-type: none;
}

#all-recipes ul{
	padding: 0;
}

.read-more{

}

/* Checkout module */
.subtotal-item li{
	list-style-type: none;
}

/*Shopping cart module*/

button#cart_button{
	padding: 0;
	border:none;
	cursor: pointer;
	background-color: white;
}

#cart-image{
	border-radius: 4% 
}

/* Form label styling */
label {
	display:block;
	font-family: 'Poppins';
	/* font-weight: Regular */
	font-weight: 400; 
	margin-bottom: 0.3em;
}

#email, #pword{
	margin-bottom: 1em;
}

input {
	width: 19em;
	height: 1.6em;
	background-color: rgb(242,242,242);
	border: none;
	border-radius: 4px;
}


.default-button {
	border:none;
	padding: 8px 28px 8px 28px;
	font-size: 0.9em;
	background-color:rgb(40,61,59);
	color: white;
	text-decoration: none;
	border-radius: 3px;
}

.product-add-button {
	margin-top:1.5em;
}

.default-button:hover {
	color: black;
	background-color: white;
	border: 1px solid rgb(40,61,59);
	transition-duration: 0.4s;
}

.disabled-button {
	border:1px solid black;
	width: 10em;
	padding: 8px 28px 8px 28px;
	background-color: white;
	border-radius: 3px;
	margin-bottom: 0.5em;
	color: black;

}

.disabled-button:hover {
	color: white;
	background-color: rgb(40,61,59);
	transition-duration: 0.5s;
}

.size-button {
	border:1px solid black;
	width: 4em;
	padding: 0.5em;
	background-color: white;
	border-radius: 3px;
	margin-right: 0.4em;

}

.size-button:hover {
	color: white;
	background-color: rgb(40,61,59);
	transition-duration: 0.5s;
}

.secondary-button {
	width: 8em;
	padding: 7px 20px 7px 20px;
	background-color: #A00226;
	border-radius: 3px;
	font-size: 0.9em;
	color: white;
	border:none;

}

#buttons h4 {
	margin-top: 2.5em;
}


.summary-checkout-container input {
	width: 10em;
}

.guest-checkout-container default-button {
	margin-top: 1.5em;
}

.summary-checkout-container {
	margin-left: 8em;
}

.details-purchased{
	margin-left: 2em;
	margin-top: -1em;
}

.details-purchased p{
	margin-top: -0.5em;
}

.subtotal-item {
	display: flex;
	margin-left:-2em;
	margin-top:-1em;
}

.subtotal-item li {
	list-style-type: none;
	margin-top: 1.3em;
	font-size: 0.8em;
}

.price-subtotal {
	margin-left: 8em;
	text-align: right;
}

.labels-price {
	margin-left:-0.5em;
}

hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

.line-checkout {
	border-left: 1px solid black;
	height: 27em;
	margin-right: -3em;
	margin-left: 3em;
}

#citations {
	max-width: 50em;
}

#example {
	margin-top:2em;
	margin-bottom:2em;
}

#colors h4 {
	margin-top:4em;
}

.color-item {
	text-align: center;
}

.color-item code {
	margin-left:-4.8em;
}

.flavour-container button {
	font-size:0.9em;
}

.detail-container h3 {
	font-size: 1.3em;
	margin-top:0em;
	margin-bottom:0em;
}

.detail-container h4 {
	margin-top:0.5em;
	font-size:1em;
}

/* website grid structure section */


 footer{
 	background-color: rgb(40,61,59);
 	grid-column-start:1;
    grid-column-end:9;
 }

 .content{
 	background:rgb(225,225,225);
 	padding:0.5em;
 }

 #grid h4 {
 	margin-top:0.5em;
 	margin-left: 1em;
 }

