/* the following dropdown nav bar was inspired by 
https://css-tricks.com/solved-with-css-dropdown-menus/ */

#navigation a {
  text-decoration: none;
}

#navigation ul {
  list-style: none;
  padding-left: 0;
  padding-left: 0;
}

#navigation li {
  display: block;
  float: left;
  padding: 1.5rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
#navigation li a {
  color: black;
  padding: 1.5rem;
}

/*
#navigation {
	position:fixed;
	margin-left:-25em;
}
*/

#navigation li:hover,
#navigation li:focus-within {
  background:rgba(84,115,112, 0.3);
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: white;
  color: white;
  visibility: hidden;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 2em;
  text-align: center;
  left:0;
  display: none;
  font-size: 0.8em;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   display: block;
}

#navigation ul li:hover {
  color:white;

}

.active {
	background-color:rgba(84,115,112, 0.3);
}

/*to here */

h2 {
	margin-bottom: 2em;
	font-family: Garamond;
	font-size: 1.8em;
}

h5 {
	font-size: 1em;
	color: white;
	background-color:rgb(91,122,120);
	text-align: center;
	padding: 0.5em;
}

figcaption {
	margin-top: 1em;
	margin-left:-2.5em;
	font-style: italic;
}

#typography h2 {
	margin-bottom:1em;
	font-family: Arial;
}

#buttons a {
	text-decoration:none;
}

#nav ul {
	background-color: rgb(40,61,59);
	color: white;
	max-width:45em;
	margin-top: 2.5em;
	margin-bottom: 2em;
}

#nav li a {
    color: white;
    text-decoration: none;
}

#nav li a:hover {
    color: grey;
    transition-duration: 0.5s;
}

#breadcrumbs a {
	text-decoration:none;
	color:black;
	margin-right: 1em;
}

label {
	display:block;
	font-size: 0.8em;
	font-weight: lighter;
	margin-bottom: 0.3em;
}

#email, #pword{
	margin-bottom: 1em;
}

input {
	width: 19em;
	height: 1.6em;
	background-color: rgb(242,242,242);
	border: none;
	border-radius: 4px;
}

.button {
	border:none;
	padding: 8px 28px 8px 28px;
	font-size: 0.9em;
	background-color:rgb(40,61,59);
	color: white;
	border-radius: 3px;
}

.button:hover {
	color: black;
	background-color: white;
	border: 1px solid rgb(40,61,59);
	transition-duration: 0.4s;
}

.button2 {
	border:1px solid black;
	width: 10em;
	padding: 8px 28px 8px 28px;
	background-color: white;
	border-radius: 3px;
	margin-bottom: 0.5em;
	color: black;

}

.button2:hover {
	color: white;
	background-color: rgb(40,61,59);
	transition-duration: 0.5s;
}

.button3 {
	border:1px solid black;
	width: 4em;
	padding: 0.5em;
	background-color: white;
	border-radius: 3px;
	margin-right: 0.4em;

}

.button3:hover {
	color: white;
	background-color: rgb(40,61,59);
	transition-duration: 0.5s;
}

.button4 {
	width: 8em;
	padding: 7px 20px 7px 20px;
	background-color: #A00226;
	border-radius: 3px;
	font-size: 0.9em;
	color: white;
	border:none;

}

.first-items h4 {
	font-size: 1.5em;
	font-weight: lighter;
}

.mini-item22 p{
	margin-top: -0.5em;
	font-weight: lighter;
}

.small-container li {
	list-style-type: none;
	margin-bottom: 1.5em;
	font-size: 0.9em;
}

.line {
	border-left: 1px solid black;
	height: 27em;
	margin-right: -3em;
	margin-left: 3em;
}

 footer{
 	background-color: rgb(40,61,59);
 	grid-column-start:1;
    grid-column-end:9;
 }

 .content{
 	background:rgb(225,225,225);
 	padding:0.5em;
 }