/*Home Page*/
.best-sellers-grid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 3em;
}

.at-grainjar-grid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 2em;
	margin-top:4em;
	margin-bottom:2em;
}

.recipes-preview-grid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}



/*Product*/
/*Product-Detail*/
/*Recipe*/
/*Recipe-Detail*/
/*About*/
/*Checkout-Cart*/
/*Checkout-Information*/
/*Checkout-Shipping*/
/*Checkout-Payment*/
/*Checkout-Summary*/
/*Checkout-Post-Order*/