@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
Thin: 100
Extra-light: 200
Light: 300
Regular: 400
Medium: 500
Semi-bold: 600
Bold: 700
Extra-bold: 800
Black: 900
*/

/* the following dropdown nav bar was inspired by 
https://css-tricks.com/solved-with-css-dropdown-menus/ */

body{
    font-family:'Poppins', Helvetica, Arial, sans-serif;
	color: #3A2B1B;
	overflow-x: hidden;
}

h1{
    /* font-size: 60px; */
    font-size: 3em;
    font-weight: 700;
}

h2 {	
	/* font-size: 40px; */
	font-size: 2.2em;
	font-weight: 600;
}

h3{
    /* font-size: 26px */
    font-size: 1.7em;
    font-weight: 500;
}

h4{
    /* font-size: 18px */
    font-size: 1.125em;
    font-weight: 600;
}

h5 {

}

p{
	line-height:1.7em;
}

a{
	color: #3A2B1B;
    font-weight:400;
	text-decoration:none;
}

a:hover, a:focus{
    font-weight:600;
    color:rgb(40,61,59);
    transition-duration:0.3s;
}

img{
	max-width: 100%;
	height: auto;
}

section {
	margin-bottom:9em;
}

.main-container{
	display:flex;
	justify-content:center;
}

.main-item{
	padding: 4em;
	padding-top:0em;
}

/* Buttons */

.default-button {
	border:none;
	padding: 8px 28px 8px 28px;
	font-size: 0.8em;
	background-color:rgb(40,61,59);
	color: white;
	text-decoration: none;
	border-radius: 3px;
}

.default-button:hover {
	color: black;
	background-color: white;
	border: 1px solid rgb(40,61,59);
	transition-duration: 0.4s;
}

.disabled-button {
	border:1px solid #3A2B1B;
	width: 10em;
	padding: 8px 28px 8px 28px;
	background-color: white;
	border-radius: 3px;
	margin-bottom: 0.5em;
	color: #3A2B1B;
}

.disabled-button:hover {
	color: white;
	background-color: rgb(40,61,59);
	transition-duration: 0.5s;
}

.size-button {
	border:1px solid black;
	width: 4em;
	padding: 0.5em;
	background-color: white;
	border-radius: 3px;
	margin-right: 0.4em;

}

.size-button:hover {
	color: white;
	background-color: rgb(40,61,59);
	transition-duration: 0.5s;
}

/*Home Page*/

/*Nav Bar*/

header {
	background-color:rgb(40,61,59);
	height:3.5em;
}

#navigation{
	z-index: 1;
}


nav li {
	list-style-type: none;
	display: inline-block;
	margin: 0 1.3vw;
}

nav li a {
    color: #EADDD0;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    transition-duration: 0.4s;
}

#navigation {
	margin-right: 2.7em;
	position: absolute;
	right: 0;
}

.logo {
	margin-left:4em;
	margin-top:0.7em;
	position: absolute;
}

ul li ul {
	background-color:rgb(40,61,59);
	visibility: hidden;
	position: absolute;
	transition: all 0.5s ease;
	text-align: center;
	display: none;
	margin-left:-2em;
	padding:0.5em;
}

ul li ul li {
	display: block;
	margin-bottom:1em;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   display: block;
}

.active {
	color: white;
	font-weight:bold;
}

/*Home page banner */

.main-banner-text{
	position:absolute;
	top:50%;
	left:60%;
	transform: translate(-20%, -50%);
    text-align:right;
    color:#3D2B19;
}

#main-banner-text{
	margin-bottom:2em;
}

.main-banner-text p{
	margin-bottom:2em;
}


/*inspo board section */

.inspo-grid-item h3 {
	color:white;
	font-size: 1.3em;
	position:relative;
	margin-bottom:-2.5em;
	text-align:right;
	margin-right:2em;
}

/*why grainjar section */

.why-grainjar-container{
	display:flex;
	flex-wrap:wrap;
}

.why-grainjar-item1 {
	flex:10%;
	flex-direction: column;
	width:30em;
}

.why-grainjar-container h2 {
	color: #B89473;
}

.why-grainjar-container img{
	margin-top:3em;
	margin-left:5em;
}

#about-grainjar p {
	margin-bottom:2em;
}

.best-sellers-grid p{
	margin-top:-1em;
}

.seemore-button {
	text-align:right;
	margin-right:1.3em;
}

/*recipe preview section */

.recipes-preview-container img {
	border-radius: 3%;
}

.recipes-preview-item1 h4{
	margin-bottom:0.5em;
}

.recipes-preview-item1 a{
	font-size:0.85em;
}


/*at grainjar section */

#at-grainjar {
	background-color: rgba(234,221,208,0.5);
	padding-top:3em;
	margin-top:-4em;
}

#at-grainjar {
	text-align:center;
}

#at-grainjar img{
	border-radius: 50%;
}

/*customer feedback section */

#customer-feedback {
	color:rgb(40,61,59);
	text-align:center;
	font-style: italic;
}

#customer-feedback h2{
	margin-top:-0.5em;
}

/*mailing list section */

#mailing-list {
	text-align:center;
	background-color: rgba(234,221,208,0.5);
	margin-top:-3em;
	margin-bottom: 0;
	padding-top:3em;
	padding-bottom:5em;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#mailing-list button {
	margin-top:1em;
}

#mailing-list input {
	background-color:rgba(234,221,208,0.1);
	border:1px solid black;
	border-radius: 5%;
	width: 15em;
	margin-right:0.8em;
}

::placeholder {
	font-size:0.7em;
	padding:1em;
	margin-left:1em;
	color:rgb(40,61,59);
}

/*Product Template*/

section#title-banner{
	position: relative; 
}

#title-banner h1 {
	position:absolute;
	left:10%;
	top:20%;
	font-size: 4em;
}

#title-banner img {
	height: auto;
	width:100%;
}

.favourites-banner{
	margin-bottom: 4rem;
}

#filter-product{
	margin-bottom: 3em;
}
#filter-product p{
	margin-right: 2.5em;
}
.product-option-item h4{
	margin-top:0.6rem;
	margin-bottom:0.6rem;
}
.product-option-item a{
	font-weight: 550;
}
.product-option-item p{
	margin-top:0.5rem;
	margin-bottom: 0;
}
.filter-button-mobile{
	display: none;
}

/*#product-option-grid img{
	max-width: none;
}*/

/* Product Detail */

/* Product Detail Breadcrumb */
.product-detail-breadcrumb{
	position: absolute;
	width: 100%;
	display: block;
	background-color: #F6F0E9;
	padding: 2em;
	padding-left: 8em;
}

.product-detail-breadcrumb a{
	color:rgb(40,61,59);
	font-size: 1.2em; /* font-size: 26px */
	font-weight: 600;
}

/* Product Detail Module */
.product-detail-container h5{
	/* font-size: 16px */
	font-size: 1em;
	color: white;
	background-color:rgb(91,122,120);
	text-align: center;
	padding: 0.5em;
}

.product-name{
	/* font-size: 32px */
	font-size: 2rem;
	margin-bottom: 0.25em;
}

.product-price{
	/* font-size: 30px */
	font-size: 1.875rem;
	font-weight: 400; 
}

.product-detail-container {
	margin-left: 5em;
	margin-top: -2em;
}

.product-detail-container h3 {
	margin-bottom:1em;
	margin-top:0em;
	font-size: 1.4em;
}

.product-detail-container h4 {
	margin-top:0.8em;
	margin-bottom:0.8em;
	font-size:1em;
}

.product-info {
	width: 50em;
	margin-top:1em;
}

.product-info h3 {
	margin-top:2em;
}
/* Product form formatting */

/* Product Flavour Selection */

.flavour-container default-button {
	font-size:0.9em;
}

.flavour-container .disabled-button {
	display:block;
}

.right-flavour-item {
	margin-left: 1em;
}

/* Product Size Selection */

.size-container li {
	list-style-type:none;
	display: inline;
	font-size: 0.9em;
}

.size-container {
	margin-left:-2.5em;
}

/*Recipe*/

/* Recipes title banner */
#recipe-head{
	position: absolute;
	width: 100%;
	display: block;
	background-color: #F6F0E9;
}

#recipe-head h1{
	padding-left: 3em;
}

#featured-recipe{	
	margin-top: 12em;
	text-align: left;
}

.featured-text{
	width:57em;
	margin-bottom:2em;
}

#all-recipes li{
	list-style-type: none;
	margin-left:-3em;
}

.recipe-blurb h4 {
	font-size:1.5em;
}

.recipe-blurb p {
	width:28em;
	margin-bottom:2em;
}

.recipe-blurb ul{
	margin-top:-1em;
	margin-bottom:2em;
	
}

/*Recipe-Detail*/

.recipe-detail-breadcrumb{
	position: absolute;
	width: 100%;
	display: block;
	background-color: #F6F0E9;
	padding: 2em;
	padding-left: 8em;
}

.recipe-detail-breadcrumb a{
	color:rgb(40,61,59);
	font-size: 1.2em; /* font-size: 26px */
	font-weight: 600;
}

#recipe-detail {
	margin-top:-em;
}

.instructions-container{
	display: flex;
	flex-wrap: wrap;
}

.perfect-parfait-title {
	font-size:1.9em;
	margin-bottom:1.5em;
	margin-top:2em;
}

.recipe-container {
	display:flex;
	flex-wrap:wrap;
	background-color: #F6F0E9;
	margin-top:4em;
	margin-bottom:4em;
}

#recipe-detail li{
	margin-left:-1.5em;
	margin-bottom:1em;
}

#recipe-detail p{
	width: 55em;
}

.used-recipe {
	font-size:1.4em;
}

.recipe-item li{
	font-size: 0.8em;
}

.recipe-item {
	margin-right: 2em;
	margin-left:3em;
	margin-top:2em;
	margin-bottom:2em;
}

.instructions-container {
	margin-top: 3em;
}

.instructions-image {
	margin-right: 2em;
}

/*About*/
/*About grainjar*/

#about-container{
	margin-top:-5em;
}

.line {
	border-left: 2px solid #3D2B19;
	height:13em;
	position:absolute;
	margin-left:-3em;
	margin-top:-2em;
}

.our-mission p{
	width:45em;
	margin-bottom:4em;
	line-height: 1.8em;
}

.numbers {
	color: rgba(135,106,76, 0.5);
	margin-top:1.3em;
}

.numbers-item h5 {
	font-size:1em;
	font-weight: normal;
	margin-left:-5em;
	margin-top:4em;
}

.numbers-item img {
	margin-left:-6em;
}

.at-grain-item p {
	width: 3em;
}

.meet-team-item2 img{
	margin-top:-2em;
	margin-left:2em;
}

/*Checkout-Cart*/
button#cart-button{
	padding: 0;
	border:none;
	cursor: pointer;
	background-color: white;
	display: inline-block;
    text-align: center;
    align-items: flex-start;
}
#cart-image{
	border-radius: 4%;
	min-width:8em; 
}
.cart-button{
	margin-top: 2.5rem;
}
.cart-quantity, .cart-item{
	
}
h4.express-checkout-label{
	margin-bottom: 2rem;
}

.express-checkout img{
	margin-right:1em;
}

#cart {
	margin-top:4em;
}
.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
}

/* Checkout Breadcrumb */

#checkout-breadcrumb{
	padding-top: 5em;
	margin-bottom: 0;
}

.checkout-crumb a, a:hover{
	margin-right: 1em;
	color:  #3A2B1B;
}

.active-checkout{
	font-weight: 600;
}

/*Checkout-Information*/

.checkout-module input {
    width: 23em;
    height: 1.8em;
    background-color: rgb(242,242,242);
    border: none;
    border-radius: 4px;
    margin-bottom: 1em;
}
.line-checkout{
    border-left: 1px solid #3A2B1B;
    height: 60em;
    margin-top:2em;
    margin-left: 3em;
    margin-right: 3em;
}
.checkout-module hr{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.image-purchased img{
	object-fit: cover;
}
.summary-checkout-container input{
	width: 13em;
	margin-right: 1rem;
}

.summary-checkout-container {
	margin-top:2em;
}

.summary-price-label{
	margin-bottom: 1rem;
}
.email-item label{
	margin-bottom: 1rem;
}

.continue-to-shipping {
	margin-top:1.5em;
}

.details-purchased h4{
	margin-top:0em;
	margin-bottom:-0.3em;
}
/*Checkout-Shipping*/

.email-item input {
    width: 100%;
    height: 1.8em;
    background-color: rgb(242,242,242);
    border: none;
    border-radius: 4px;
    margin-bottom: 1em;
}

.email-item1 input {
    width: 96.5%;
    height: 1.8em;
    background-color: rgb(242,242,242);
    border: none;
    border-radius: 4px;
    margin-bottom: 1em;
}

.summary-checkout-container input {
    width: 13em;
    height: 1.8em;
    background-color: rgb(242,242,242);
    border: none;
    border-radius: 4px;
    margin-bottom: 1em;
}

.shipping-form-container {
	display:flex;
	flex-wrap:wrap;
}

.email-item {
	margin-right:1em;
}

.shipping-module hr{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.shipping-module {
	display:flex;
	flex-wrap:wrap;
	margin-top:4em;
}

.shipping-form{
	margin-bottom:5em;
}

.address p{
	margin-bottom:-1em;

}

.address{
	margin-bottom:2em;
}

.horus p{
	margin-bottom:-1em;

}

.hours{
	margin-bottom:2em;
}

.phone p{
	margin-bottom:-1em;

}

.phone{
	margin-bottom:3.5em;
}
/*Checkout-Payment*/
/*Checkout-Summary*/
/*Checkout-Post-Order*/

/*Footer*/
#footer{
	background-color: rgb(40,61,59);
	font-weight: 330;
	padding: 4rem 4rem;
}
#footer ul{
	list-style: none;
}
#footer a, .footer-info-links p{
	font-weight: 330;
}

#footer a {
	color:rgba(255,255,255,0.7);
	font-size:0.9em;
}

.footer-title{
	font-weight: 420;
}
.footer-info li{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.footer-adress li{
	color: #EADDD0;
}
.footer-rights p, .footer-info li, .footer-info a, .footer-info-links a{
	color: white;
}
#footer ul{
	padding: 0;
}
.footer-social{
	padding-top: 1em;
}
.footer-social-icon, .footer-info-links p{
	margin-right: 0.5rem;
}
.footer-logo{
	margin-bottom: 1rem;
}
.footer-container{
	border-bottom: 1.6px solid #AFB7B6;
	padding-bottom:3rem;
	margin-bottom: 1.5rem;
}

@media(max-width: 65em ) {

	h2{
		font-size: 1.6em;
	}

	h3{
		font-size: 1.35em;
	}

	h4{
		font-size: 1.2em;
	}

	.logo {
		margin-left:2em;
		margin-top:1em;
	}

    .main-banner-text{
		position:relative;
		top:50%;
		left:20%;
		transform: translate(-20%, -10%);
	    text-align:left;
	    color:#3D2B19;
	    padding:2em;
	}

	.why-grainjar-container h2 {
		margin-bottom:1em;
	}

	.main-banner-text {
		margin-bottom: -7em;
	}

	/* product template */
	#title-banner h1 {
		font-size: 3em;
	}
}

@media (max-width: 55em) {

	/*home page */

	.why-grainjar-item1 {
		width: 100%;
    }

    .why-grainjar-container img{
		margin-left:0em;
    }

    #at-grainjar {
		padding-bottom:3em;
    }

    .recipes-preview-item1 {
    	width:100%;
    }

	/*about us page */

	.our-mission p{
	   width:100%;
    }

   .meet-team-item2 img{
		margin-top:2em;
		margin-left:1em;
    }

    section {
	   margin-bottom:5em;
	}

	/*Recipes*/

	#featured-recipe img{
		width:100%;
	}

	.featured-text {
		width:100%;
	}

	#featured-recipe{	
		margin-top: 6em;
	}

	.recipe-blurb p {
		width:100%;
		margin-bottom:2em;
	}

	.recipe-blurb {
		margin-bottom:2em;
	}

	#all-recipes h3 {
		font-size: 1.5em;
	}

	#all-recipes h4 {
		font-size: 1.3em;
		margin-bottom:2em;
	}

	.recipe-img {
		margin-bottom:0em;
	}

	#recipe-head h1{
		padding-left: 1em;
     }

	/* recipe detail page */

	.recipe-detail-breadcrumb {
		padding-left:2em;
	}

	#recipe-detail p{
	    width: 100%;
	}

	#recipe-detail img{
		width: 100%;
	}

	.instructions-image {
		margin-bottom:1em;
	}

	#breadcrumb a{
		font-size: 1em;
	}

	/*product-detail */

	.product-detail-breadcrumb{
		padding: 2em;
		padding-left: 2em;
	}

	#cart {
		margin-top:2em;
	}

}


@media(max-width: 48em) {
	h1{
		font-size: 4.8vh;
	}

	.why-grainjar-container img{
		margin-left:0em;
		width:100%;
    }

    .line-checkout{
		display:none;
	}
}


@media (max-width: 41.5em) {
	.filter-container{
    	display: none;
    }

    .filter-button-mobile{
		border:1px solid #3A2B1B;
		width: 9.5em;
		height: 2.1em;
		text-align: center;
		background-color: white;
		border-radius: 5px;
		display: table-cell;
		vertical-align: middle;
		color: #3A2B1B;
	}
	.filter-button-mobile:hover {
		color: white;
		background-color: #A00226;
		transition-duration: 0.3s;
		border:none;
	}
	.favourites-banner{
	margin-bottom: 0;
}
}

@media (max-width: 40em) {

	.numbers-item img {
		margin-left:-4.5em;
		margin-top:1em;
		width: 85%;
	}

	.inspo-grid-item h3 {
    	font-size: 1.8em;
    }

	/* About*/
	#about-container{
		padding-top: 3em;
	}
}
