@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
Thin: 100
Extra-light: 200
Light: 300
Regular: 400
Medium: 500
Semi-bold: 600
Bold: 700
Extra-bold: 800
Black: 900
*/

/* the following dropdown nav bar was inspired by 
https://css-tricks.com/solved-with-css-dropdown-menus/ */

body{
    font-family:'Poppins', Helvetica, Arial, sans-serif;
	color: #3A2B1B;
}

h1{
    /* font-size: 60px; */
    font-size: 3.1em;
    font-weight: 700;
}

h2 {	
	/* font-size: 40px; */
	font-size: 2.2em;
	font-weight: 600;
}

h3{
    /* font-size: 26px */
    font-size: 1.7em;
    font-weight: 500;
}

h4{
    /* font-size: 18px */
    font-size: 1.125em;
    font-weight: 600;
}

h5 {

}

p{
	line-height:1.5em;
}

a{
	color: #3A2B1B;
    font-weight:400;
	text-decoration:none;
}

a:hover, a:focus{
    font-weight:600;
    color:rgb(40,61,59);
    transition-duration:0.3s;
}

img{
	max-width: 100%;
	height: auto;
}

section {
	margin-bottom:9em;
}

.main-container{
	display:flex;
	justify-content:center;
}

.main-item{
	padding: 4em;
	padding-top:0em;
}

/* Buttons */

.default-button {
	border:none;
	padding: 8px 28px 8px 28px;
	font-size: 0.9em;
	background-color:rgb(40,61,59);
	color: white;
	text-decoration: none;
	border-radius: 3px;
}

.default-button:hover {
	color: black;
	background-color: white;
	border: 1px solid rgb(40,61,59);
	transition-duration: 0.4s;
}

/*Home Page*/

/*Nav Bar*/

header {
	background-color:rgb(40,61,59);
	height:3.5em;
}


nav li {
	list-style-type: none;
	display: inline-block;
	margin: 0 1.3vw;
}

nav li a {
    color: #EADDD0;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    transition-duration: 0.4s;
}

#navigation {
	width: 35%;
	position: absolute;
	right: 0;
}

.logo {
	margin-left:10em;
	margin-top:0.7em;
	position: absolute;
}

ul li ul {
	background-color:rgb(40,61,59);
	visibility: hidden;
	position: absolute;
	transition: all 0.5s ease;
	text-align: center;
	display: none;
	margin-left:-2em;
	padding:0.5em;
}

ul li ul li {
	display: block;
	margin-bottom:1em;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   display: block;
}

.active {
	color: white;
	font-weight:bold;
}

/*Home page banner */

.main-banner-text{
	position:absolute;
	justify-content:right;
	top: 35%;
    left: 57%;
    width: 36%;
    text-align:right;
    color:#3D2B19;
}

#main-banner p{
	margin-bottom:2em;
}

/*inspo board section */

.inspo-grid-item h3 {
	color:white;
	font-size: 1.3em;
	position:absolute;
	margin-left:9em;
}

/*why grainjar section */

.why-grainjar-container{
	display:flex;
	flex-wrap:wrap;
}

.why-grainjar-item1 {
	flex:10%;
	flex-direction: column;
	width:30em;
}

.why-grainjar-container h2 {
	color: #B89473;
}

.why-grainjar-container img{
	margin-top:3em;
	margin-left:5em;
}

#about-grainjar p {
	margin-bottom:2em;
}

.best-sellers-grid p{
	margin-top:-1em;
}

.seemore-button {
	text-align:right;
	margin-right:1.3em;
}

/*recipe preview section */

.recipes-preview-container img {
	border-radius: 2%;
}

.recipe-preview-item h4{
	margin-bottom:-2em;
}

/*at grainjar section */

#at-grainjar {
	background-color: rgba(234,221,208,0.5);
	padding-top:3em;
	margin-top:-4em;
}

#at-grainjar {
	text-align:center;
}

#at-grainjar img{
	border-radius: 50%;
}

/*mailing list section */

#mailing-list {
	text-align:center;
}

#mailing-list button {
	margin-top:1em;
}

/*Product*/
/*Product-Detail*/

/*Recipe*/

/* Recipes title banner */
#recipe-head{
	z-index: -1;
	position: absolute;
	width: 100%;
	display: block;
	background-color: #EADDD0;
	
}

#recipe-head h1{
	padding-left: 3em;
}

#featured-recipe{	
	margin-top: 12em;
	text-align: left;
}

.featured-text{
	width:57em;
	margin-bottom:2em;
}

#all-recipes li{
	list-style-type: none;
	margin-left:-3em;
}

.recipe-blurb h4 {
	font-size:1.5em;
}

.recipe-blurb p {
	width:28em;
	margin-bottom:2em;
}

.recipe-blurb ul{
	margin-top:-1em;
	margin-bottom:2em;
	
}

/*Recipe-Detail*/

/*About*/
/*About grainjar*/

#title-banner h1 {
	position:absolute;
	left:10%;
	top:20%;
}

#title-banner img {
	height: auto;
	width:100%;
}

.line {
	border-left: 2px solid #3D2B19;
	height:14em;
	position:absolute;
	margin-left:-3em;
	margin-top:2em;
}

.our-mission p{
	width:45em;
	margin-bottom:4em;
	line-height: 1.8em;
}

.numbers {
	color: rgba(135,106,76, 0.5);
	margin-top:1.3em;
}

.numbers-item h5 {
	font-size:1em;
	font-weight: normal;
	margin-left:-5em;
	margin-top:4em;
}

.numbers-item img {
	margin-left:-6em;
}

.at-grain-item p {
	width: 3em;
}

.meet-team-item2 img{
	margin-top:-2em;
	margin-left:2em;
}

/*Checkout-Cart*/
/*Checkout-Information*/
/*Checkout-Shipping*/
/*Checkout-Payment*/
/*Checkout-Summary*/
/*Checkout-Post-Order*/