/*code inspired by https://www.youtube.com/watch?v=ydZc17rlR5E&ab_channel=FlorinPop */

.hamburger {
	display:none;
	background-color:transparent;
	border:0;
	color:white;
	font-size:2em;
	margin-right:1em;
}

.hamburger:focus {
	outline:none;
}

nav{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
}

.nav-ul {
	display:flex;
	align-items:center;
	justify-content:center;
	padding:0;
	list-style-type : none;
	margin-right:3em;
}

.nav-ul li a {
	display:inline-block;
	color:white;
}

.logoo {
	margin-left:3em;
}

@media screen and (max-width: 700px) {
	.nav-ul {
		display:none;
		flex-direction:column;
		background-color: rgb(40,61,59);
		width:100%;
		margin-top:0.33em;
		margin-right:0em;
	}

	.nav-ul.show {
		display:flex;
	}

	.hamburger {
		display:block;
		margin-top:0.1em;
	}

	.logoo {
		margin-top:0.3em;
		margin-left:1.3em;
	}

	.nav-ul li a {
		display:inline-block;
		color:white;
		margin-bottom:1.5em;
	}

}




