

ul li ul li {
    width: 73.5%;
  }

p {
	max-width: 45em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	line-checkout-height: 1.6em;
}

figure img {
	margin-left:-2.5em;
}

#bullets li{
	margin-bottom:0.5em;
}

ol li {
	margin-bottom: 0.5em;
}

.anatomy ol li {
	margin-left:-5em;
}

#typography,#bulllets,#form, #numbered, #colors, #buttons, #logo, #illustrations, #in-text {
	margin-bottom: 7em;
}

#nav, #product, #grid, #checkout, #recipe-detail, #all-recipes, #breadcrumbs, #recommended, #cart, #footer{
	margin-bottom: 6em;
}

#crazy, #wireframes, #sitemap, #highf {
	margin-bottom: 6em ;
}

/* container for all items */
.main-container, .nav-container {
	display: flex;
	justify-content:center;
}

/* UI Pattern elements css */

.grid-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.primary-container {
	display: flex;
}

.primary-item1 {
	flex:1;
	flex-direction:column;
	margin-right: 2em;
}

.primary-item2 {
	flex:2;
	flex-direction:column;
	margin-right: 2em;
}

.primary-item3 {
	flex:3;
	flex-direction:column;
}

#nav li {
	list-style-type: none;
	display: inline-block;
	margin: 12px 0 12px 0;
	margin-left: 1em;
}


#colors img {
	display:block;
	height: 6.5em;

}

#logo img {
	margin-right: 2em;
}

.form p {
	margin-top:-1em;
}


.flavour-container .disabled-button {
	display:block;
}

img {
	margin-bottom:-0.4em ;
}

#colors img {
	margin-bottom: 1em;
	margin-top: 1em;
	border-radius: 50%;
}

.color-grid-container {
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	margin-bottom: 4em;
	max-width: 32em;
}

.access-grid-container {
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	margin-bottom: 1em;
	margin-top: 1em;
	max-width: 25em;
}

.button-grid-container {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	margin-bottom:5em;
}

.color-item code {
	text-align: center;
}


#colors p {
	margin-bottom:-1em;

}

.main-item code {
	font-size:0.8em;
}

.code p{
	margin-bottom:-0.8em;
}

.bread-example {
	margin-top:3.5em;
	margin-bottom:3.5em;
}

/* product detail page */
.product-module {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.5em;
	margin-bottom: 2em;
}

.detail-container {
	margin-left: 3em;
	margin-top:-1.8em;
}

.detail-container {
	margin-left: 5em;
	margin-top: -2em;
}

.flavour-container{
	display: flex;
	flex-wrap: wrap;
}

#buttons h4 {
	margin-top: 2.5em;
}

.checkout-module{
	display: grid;
	grid-template-columns: 1.5fr 1.2fr;
	margin-top: 4rem;
}

.guest-checkout-container button {
	margin-top: 1.5em;
}


.purchased-summary-item {
    display: grid;
    grid-template-columns: 0.7fr 0.8fr;
    grid-column-gap: 1rem;
}

.details-purchased p {
	margin-top:-1em;
	font-size:0.9em;
}

.details-purchased h4 {
	font-size: 1em;
}

.summary-price-label {
    display: flex;
    justify-content: space-between;
}

.price-subtotal {
	margin-left: 8em;
	text-align: right;
}


hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

#citations {
	max-width: 50em;
}

#example {
	margin-top:2em;
	margin-bottom:2em;
}

#colors h4 {
	margin-top:4em;
}

.color-item {
	text-align: center;
}

.color-item code {
	margin-left:-4.8em;
}

/*recipe details module */

.instructions-container{
	display: flex;
	flex-wrap: wrap;
}

.recipe-container {
	display:flex;
	flex-wrap:wrap;
	background-color: #F6F0E9;
	margin-top:4em;
	margin-bottom:4em;
}

#recipe-detail li{
	margin-left:-1.5em;
	margin-bottom:1em;
}

.recipe-item li{
	font-size: 0.8em;
}

.recipe-item {
	margin-right: 2em;
	margin-left:3em;
	margin-top:2em;
	margin-bottom:2em;
}

.instructions-container {
	margin-top: 3em;
}

.instructions-image {
	margin-right: 2em;
}

/* all recipes module */

.recipe-preview-container{
    display: flex;
    flex-wrap: wrap;
}

.recipe-img {
	margin-right: 3em;
	margin-bottom: 4em;
}

.recipe-blurb {
	width: 30em;
}
.recipe-blurb li {
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

/*Shopping cart module*/
.cart-grid-container{
	display: grid;
	grid-column-gap: 3rem;
	padding-bottom: 1rem;
	padding: 3em;
}
.cart-item{
	display: flex;
	align-items: center;
}
.cart-header-product{
	grid-column: 2/3;
}
.cart-header-quantity{
	grid-column: 4/5;
}
.cart-header-price{
	grid-column: 5/6;
}
.cart-header-subtotal{
	grid-column: 4/5;
}
.cart-header-quantity, .cart-item-button, .cart-header-price, .cart-header-subtotal, .cart-price, .cart-subtotal-price{
	padding-left: 1em;
}
.summary-pandq{
	display: grid;
	grid-template-columns: auto auto;
}
.summary-pandq p{
	margin-top: 0.5rem;
}


/*Recommended for you module */

.recommended-grid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-left:2em;
}

#recommended {
	background-color: #F6F0E9;
	padding:2em;
}

#recommended h3 {
	margin-left:1.3em;
}

.recommended-item {
	margin-right:-2em;
	max-width: 90%;
}

.recommended-item img {
	border-radius: 4%;
}

.recommended-item p {
	margin-top:-1em;
}

#recommended h4 {
	font-size:0.95em;
}

#recommended p {
	font-size:0.8em;
}
/* website grid structure section */

.g-container {
	background-color: rgb(150, 150, 150);
	display:grid;
	grid-template-columns:repeat(8,1fr);
	grid-template-rows: 3rem 14em 9em 7em 7em 9em 6em;
}

#logo-gridsample {
	background:rgb(100,100,100);
	grid-column-start:1;
    grid-column-end:2;
}

#navbar {
	background-color: rgb(40,61,59);
	grid-column-start:2;
    grid-column-end:9;
}

#banner{
	background:rgb(225,225,225);
	grid-column-start:1;
    grid-column-end:9;
}

#main, #recipe {
	background-color: rgb(200, 200, 200);
	grid-column-start:1;
    grid-column-end:9;
}


.row-container{
	grid-column: 2 / 8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    padding:0.5em;
}

#grid h4 {
    margin-top:0.5em;
    margin-left: 1em;
}

/*Footer*/
.footer-container, .footer-crumb{
	display:grid;
	grid-template-columns: 11rem auto auto auto auto 10rem;
	grid-column-gap: 2em;
}
.footer-line{
	grid-column: 1/6;
}
.footer-info-links{
	display: flex;
	grid-column: 4/7;
	justify-content:flex-end;
}
.footer-rights{
	grid-column:1/3;
	grid-row-start: 1;
}
@media(max-width: 99em) {
	.footer-container{
		grid-template-columns: auto auto auto auto 10rem;
	}
	.footer-logo{
		grid-column: 1/6;
	}
}

@media(max-width: 75em){
	 .footer-container{
		grid-template-columns: auto auto auto auto;
	}
    	.footer-social{
		grid-column: 1/5;
		grid-row: 3;
	}
	.footer-logo{
		grid-column: 1/5;
	}
}

@media (max-width: 55em) {

   .main-item {
       flex-basis: 100%;
       padding:1em;
       margin-right:0em;
   }

   #illustrations img {
       width:100%;
   }

   #buttons img {
       width:100%;
   }

   #buttonsize img {
       width: 60%;
   }

   #logo img{
       margin-bottom:1em;
   }

   .footer-social-icon img{
       width: 15%;
   }

   .footer-logo img{
       width: 60%;
   }

   .detail-container {
       margin-left:0em;
       margin-top:1em;
   }

   .flavour-container {
       flex-basis:100%;
   }

   .image-container img {
       width:100%;
   }

   .summary-checkout-container {
       margin-left: 0em;
       margin-top:3em;
   }

   .line-checkout {
       display:none;
   }

   #anatomy img {
       width:100%;
   }

   figure img{
       width:100%;
   }

   figcaption {
       width:100%;
   }

   figure {
       width:100%;
   }

   .color-item code {
       margin-right: -2.7em;
   }

   .logo-navsample {
       margin-right:0em;
       margin-left: -2em;
   }

   #nav li{
       font-size: 0.8em;
       margin-bottom: 1em;
   }

   .disabled-button {
       width: 10em;
   }

   .detail-container h3 {
       font-size: 1.5em;
   }

   .guest-checkout-container input {
       width: 21.5em;
       height: 2em;
       margin-top:0.5em;
   }

   .summary-checkout-container input {
       width: 15em;
       height: 2em;
   }

   .checkout-module{
   	     display: grid;
    grid-template-columns: auto;
    grid-column-gap: 0rem;
   }

   .summary-price-label{
	display: flex;
	justify-content: space-between;
}

   #form input {
       width: 20em;
       height: 2em;
       margin-top:0.5em;
   }

   .subtotal-item li {
       font-size:1em;
   }

   .price-subtotal li{
       justify-content: right;
       margin-left:2.5em;
   }

   .image-purchased img{
       width:8.5em;
       margin-bottom:2em;

   }

   .details-purchased h4{
       font-size:1.1em;
       margin-bottom:0em;

   }

   #all-recipes img {
   	   margin-top: 2em;
   	   flex-basis: 100%;
   }

   .content {
       grid-column:1 / span 8;

   }

   .button-grid-container {
       display:grid;
       grid-template-columns:1fr 1fr;
       margin-bottom:5em;
   }

   .item2 {
       margin-left: -2.5em;
   }

   .recipe-item {
   	   margin-top:1em;
   }

   .instructions-image {
	   margin: 1em 0;
    }

   .details-purchased p {
   	   margin-top: 1em;
   }

   .recipe-img {
		margin-bottom: 0;
	}

   .recipe-blurb {
	   width: 100%;
   }

   #all-recipes img{
    	flex-basis:100%;
    }

    .recommended-grid {
		display:grid;
		grid-template-columns: 1fr 1fr;
    }

    #recommended {
		padding:0em;
    }

	.product-cart-detail{
		grid-column: 3/5;
		grid-column-start: 3;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.cart-quantity{
		grid-column-start: 1;
	}
	.cart-header{
		visibility: hidden;
	}
	.cart-subtotal{
		grid-column: 3/4;
	}
	#cart-product-detail{
		flex-direction: column ;
		align-items: flex-start;
}

	/* Footer */
	.footer-logo{
		grid-column: 1/6;
	}
	.footer-crumb{
		grid-template-columns: auto auto; 
	}
	.footer-info-links{
		grid-column-start: 1;
		grid-row-start: 1;
		justify-content: flex-start;
	}
	.footer-rights{
		grid-column-start: 1;
		grid-row-start: 2;
	}

	@media (max-width: 48em){
		 .footer-crumb{
	 	display: flex;
	 	flex-direction: column;
	 	flex-wrap: wrap;
	 }
	 .footer-info-links{
	 	justify-content: flex-start;
	 }
	     .footer-logo{
    	grid-column: 1/3;
    }
   
	.footer-detail{
		grid-row-start: 2;
	}
	.footer-info{
		grid-row-start: 3;
	}
	.footer-social{
		grid-column: 1/3;
		grid-row-start: 4;
	}
	}

}

@media (max-width: 40em) {
	.cart-header-quantity, .cart-item-button, .cart-header-price, .cart-header-subtotal, .cart-price, .cart-subtotal-price{
	padding-left: 0;
}	
	.cart-header-product, .cart-header-quantity, .cart-header-price{
		display: none;
	}
	.cart-grid-container{
		grid-template-columns: 0.1fr auto auto auto;
		grid-template-rows: auto auto auto;
	}
	.cart-quantity{
		grid-column: 3/4;
	}
	#cart-image{
		grid-column: 2/3;
		grid-row: 1/3;
	}
	#cart-button{
		grid-column: 1/2;
		grid-row: 1/3;
	}
	#cart-product-detail{
		grid-column: 3/5;
		grid-row: 1/2;
	}
	.cart-header-subtotal{
		grid-column: 3/4;
	}

}

@media (max-width: 32em){
	.footer-info-links, .footer-social, .footer-rights, .footer-container, .footer-logo{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
	}
	.footer-social-icon{
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	button#cart-button{
		grid-column: 3/4;
		grid-row: 1/2;
		display: flex;
		justify-content: flex-end;
		line-height: 1.5rem;
	}
	.cart-item-button{
		grid-column: 2/3;
		grid-row: 2/3;
		height: auto;
	}
	img#cart-image{
		width: 90px;
		grid-column: 1/2;
	}
	
	input[type="number"]{
    font-size:0.7em;
	}

	.cart-grid-container{
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto auto;
		grid-column-gap: 0rem;
	}
	p.cart-quantity, p.cart-price{
		font-size: 0.7em;
	}
	.cart-price{
		grid-column-start: 3;
		grid-row-start: 2;
	}
	.cart-price, .cart-subtotal-price{
		display: flex;
		justify-content: flex-end;
	}
	.cart-subtotal-price, #cart-product-detail{
		grid-column: 2/4;
	}
	.cart-quantity-button, button#subtract, button#add{
		height: 1.2rem;
		line-height: 1.2rem;
	}
	.cart-header-subtotal{
		grid-column: 1/2;
		margin-top: 2rem;
	}
	.cart-subtotal-price{
		margin-top: 2rem;
		grid-column-start: 3;
		grid-row-start: 3;
	}
	#cart-product-detail{
		grid-column-start: 2;
	}
	#order-summary, .order-summary-container{
		display: flex;
		flex-direction: column;
	}
	#footer img{
		width: 15%;
	}
	.cart-grid-container {
    padding: 0em;
}
}
